name: Lint, Build & Publish
on: [pull_request]

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Lint
        run: make lint

  build-and-publish:
    name: Build & Publish
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: Clean working directory
        run: make clean

      - name: Install dependencies
        run: make install

      - name: Build binary
        run: make build

      - name: Publish
        uses: actions/upload-artifact@v3
        with:
          name: my-artifact
          path: dist/*